*{
        font-family: 'Poppins', sans-serif;
        margin:0; padding:0;
        box-sizing: border-box;
        outline: none; border:none;
        text-decoration: none;
 }

strong {
    text-shadow: 0 0 20px #fff;
}

 /*home contents*/

.head1 {
    margin: 0;
    background-image: url("MicrosoftTeams-image.png");
    background-size: cover;
    background-position: center;
    position: relative;
    height: 100vh;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3) inset;
}



.head1::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        0deg, rgb(214, 127, 46), rgba(117, 63, 12, 0) 35%
    );
    animation-name: example;
    animation-duration: 2.5s;
    
}

@keyframes example {
    from {
        height: 4000%; 
    );
    }
    to {
        height: 100%;
    );
    }
}

section {
    color: #fff;
    background: linear-gradient(
        rgb(214, 127, 46), rgb(117, 63, 12) 
    );
    padding: 4em 3em;
    text-align: center;
    padding-bottom: 250px;
}

section h1 {
    font-size: 50px;
    text-shadow: 0 0 20px #fff;
}

section p {
    line-height: 25px;
    max-width: 1000px;
    margin: 0 auto;
    font-size: 20px;  
}


@media screen and (max-width: 600px) {
    .design {
        display: none;
    }
}

@media screen and (max-width: 1700px) {
    .design {
        display: none;
    }
}

.design:hover {
    text-shadow: 0 0 20px #fff;
    font-size: 700px;
    color: #fff;
}

@media screen and (max-width: 600px) {
    .design1 {
        display: none;
    }
}

@media screen and (max-width: 1700px) {
    .design1 {
        display: none;
    }
}

.design1:hover {
    text-shadow: 0 0 20px #fff;
    font-size: 700px;
    color: #fff;
}

/*symbols*/

/*navbar*/

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(214, 127, 46, 0.747);
    box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.3);
}
  
ul.topnav li {float: left;}
  
ul.topnav li a {
    display: block;
    color: rgba(255, 255, 255, 0.726);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.4s;
    font-weight: bold;
}   
  
ul.topnav li a:hover:not(.active) {
    color: white;
    text-shadow: 0 0 20px #fff;
    scale: 1.3;
    
}
  
ul.topnav li a.active {
    
    font-weight: bold;
    text-shadow: 0 0 20px #fff;
    color: white;
}

@media screen and (max-width: 600px) {
    ul.topnav li {float: none;}
    
    .dropdown-content {
        width: 100%;
    }
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
li a:hover, .dropdown:hover .dropbtn {
    color: white;
    text-shadow: 0 0 20px #fff;
}
  
li.dropdown {
    display: block;
}
  
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
  
.dropdown-content a:hover {
    color: white;
    text-shadow: 0 0 20px #fff;
    display: block;
}

.dropdown-content {
    position: absolute;
    background-color: rgba(214, 127, 46, 0.747);
    min-width: 187px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    transition: 0.7s;
    margin-top: -25px;
    opacity: 0;
    visibility: hidden;
}
  
.dropdown:hover .dropdown-content {
    display: inline-block;
    opacity: 1;
    margin-top: 0;
    visibility: visible;
}



/*1st slide*/

.bodystud {
    background: linear-gradient(
        rgba(214, 127, 46, 0.747), rgb(214, 127, 46), rgb(117, 63, 12) 
    );
}

.bodystud1 {
    background-image: url("ending.png");
    background-size: cover;
    background-position: center;
}

.head2 {
    background-image: url("kape.png");
    height: 600px;
    width: 600px; 
    float: left;
    margin: 50px 30px 20px;
    border-radius: 30px;
    position: relative;
    background-size: cover;
    background-position: center;
    position: relative; 
}

.head6 {
    background-image: url("puke.png");
    height: 500px;
    width: 600px; 
    float: left;
    margin: 50px 30px 20px;
    border-radius: 30px;
    position: relative;
    background-size: cover;
    background-position: center;
    position: relative; 
}

.wrapper {
    width: 100%;
}

.description {
    width: 100%;
    padding-right: 30px;
    color: #fff;
}

.description h1 {
    padding: 50px 30px 20px;
    line-height: 44px;
    font-size: 50px;
    text-shadow: 0 0 20px #fff;
}

.description a {
    padding: 20px 30px 20px;
    line-height: 24px;
    font-size: 20px;
}

.description1 {
    width: 100%;
    padding-right: 30px;
    color: #fff;
}

.description1 h1 {
    padding: 50px 30px 20px;
    line-height: 44px;
    font-size: 50px;
    text-shadow: 0 0 20px #fff;
}

.description1 a {
    padding: 20px 30px 20px;
    line-height: 24px;
    font-size: 20px;
}

@media screen and (max-width: 1100px) {
    
    .head2 {
        width: 600px; 
        float: none;
        padding: 50px 30px 20px;
        border-radius: 30px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .head6 {
        width: 600px; 
        float: none;
        padding: 50px 30px 20px;
        border-radius: 30px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .description {
        width: 100%;
        padding-right: 30px;
        padding-left: 30px;
        text-align: center;
    }  
}

@media screen and (max-width: 600px) {
    
    .head2 {
        width: 100%; 
        float: none;
        padding: 0px 0px 0px;
        display: block;
        border-radius: 0;
        margin-top: 0;
        margin-bottom: 0;
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3) inset;
    }

    .head6 {
        width: 100%; 
        float: none;
        padding: 0px 0px 0px;
        display: block;
        border-radius: 0;
        margin-top: 0;
        margin-bottom: 0;
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3) inset;
    }

    .description {
        width: 100%;
        padding-right: 30px;
        padding-left: 30px; 
        padding-bottom: 30px;     
        text-align: center;
        background: linear-gradient(
        rgb(214, 127, 46), rgb(117, 63, 12) 
        );
    }  

    .head2::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(
            0deg, rgb(214, 127, 46), rgba(117, 63, 12, 0) 20%
        );
    }

    .head6::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(
            0deg, rgb(214, 127, 46), rgba(117, 63, 12, 0) 20%
        );
    }

}

.button {
    border-radius: 50px;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 20px;
    background-color: rgba(214, 127, 46, 0.747);
    color: rgba(255, 255, 255, 0.726); 
    border: 2px solid rgb(214, 127, 46);
    transition-duration: 0.4s;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px; 
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
}

.button:hover {
    color: white;
    text-shadow: 0 0 20px #fff;
    scale: 1.3;
}

/*2nd slide*/

.head3 {
    background-image: url("tite.png");
    height: 450px;
    width: 650px; 
    float: none;
    margin: 50px 30px 20px;
    border-radius: 30px;
    position: relative;
    background-size: cover;
    background-position: center;
    position: relative; 
    margin-left: auto;
    margin-right: auto;
}

.head4 {
    background-image: url("prvroom.png");
    height: 450px;
    width: 650px; 
    float: none;
    margin: 50px 30px 20px;
    border-radius: 30px;
    position: relative;
    background-size: cover;
    background-position: center;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.head5 {
    background-image: url("wews.png");
    height: 450px;
    width: 650px; 
    float: none;
    margin: 50px 30px 20px;
    border-radius: 30px;
    position: relative;
    background-size: cover;
    background-position: center;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.description1 {
    width: 100%;
    padding-right: 30px;
    padding-left: 30px; 
    padding-bottom: 30px;     
    text-align: center;
}

.description2 {
    width: 100%;
    padding-right: 30px;
    padding-left: 30px; 
    padding-bottom: 30px;     
    text-align: center;
    transform: translateY(625px);
}

@media screen and (max-width: 600px) {
    
    .description2 {
        width: 100%;
        padding-right: 30px;
        padding-left: 30px; 
        padding-bottom: 30px;     
        text-align: center;
        transform: translateY(500px);
    }

    .head3 {
        width: 100%; 
        float: none;
        padding: 0px 0px 0px;
        display: block;
        border-radius: 0;
        margin-top: 0;
        margin-bottom: 0;
        margin-left: auto;
        margin-right: auto;
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3) inset;
    }

    .head3::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(
            0deg, rgb(214, 127, 46), rgba(117, 63, 12, 0) 20%
        );
    }

    .head4 {
        
        width: 100%; 
        float: none;
        padding: 0px 0px 0px;
        display: block;
        border-radius: 0;
        margin-top: 0;
        margin-bottom: 0;
        margin-left: auto;
        margin-right: auto;
        box-shadow: 0px 70px 50px rgb(214, 127, 46) inset;
    }

    .head4::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(
            0deg, rgb(214, 127, 46), rgba(117, 63, 12, 0) 20%
        );

    
    }

    .head5 {
        width: 100%; 
        float: none;
        padding: 0px 0px 0px;
        display: block;
        border-radius: 0;
        margin-top: 0;
        margin-bottom: 0;
        margin-left: auto;
        margin-right: auto;
        box-shadow: 0px 70px 50px rgb(214, 127, 46) inset;
    }

    .head5::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(
            0deg, rgb(214, 127, 46), rgba(117, 63, 12, 0) 20%
    );

    
    }

    .description1 {
        width: 100%;
        padding-right: 30px;
        padding-left: 30px; 
        padding-bottom: 30px;     
        text-align: center;
        background: linear-gradient(
        rgb(214, 127, 46), rgb(117, 63, 12) 
        );
    }  
}

.buttonend {
    border-radius: 50px;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: rgba(214, 127, 46, 0.747);
    color: rgba(255, 255, 255, 0.726); 
    border: 2px solid rgb(214, 127, 46);
    transition-duration: 0.4s;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px; 
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
}

.buttonend:hover {
    color: white;
    text-shadow: 0 0 20px #fff;
    scale: 1.3;
}





  

